<md-card>
  <md-card-title>Users</md-card-title>
  <md-card-content>
    <section>
      <md-spinner *ngIf="(users$ | async).isLoading(); else doneLoading"></md-spinner>
      <ng-template #doneLoading>
        <ng-container *ngIf="!(users$ | async).isFailure(); else error">
          <md-nav-list>
            <a md-list-item *ngFor="let user of (users$ | async).getData()" (click)="goToDetails(user.id)">
              {{user.firstName}} {{user.lastName}}
            </a>
          </md-nav-list>
        </ng-container>
        <ng-template #error>
          <p>Error: {{(users$ | async).getError()}}</p>
        </ng-template>
      </ng-template>
    </section>
  </md-card-content>
</md-card>
