<md-card>
  <md-card-title>Users</md-card-title>
  <md-card-content>
    <section>
      <md-spinner *ngIf="(loading$ | async); else doneLoading"></md-spinner>
      <ng-template #doneLoading>
        <ng-container *ngIf="!(error$ | async); else error">
          <md-nav-list>
            <a md-list-item *ngFor="let user of (users$ | async)" (click)="goToDetails(user.id)">
              {{user.firstName}} {{user.lastName}}
            </a>
          </md-nav-list>
        </ng-container>
        <ng-template #error>
          <p>Error: {{(error$ | async)}}</p>
        </ng-template>
      </ng-template>
    </section>
  </md-card-content>
</md-card>
